* {
	box-sizing: border-box;
}

body {
    background-image: url("../images/concrete-texture.png");
    background-color: #cccccc;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    color: #771;

}

h1, h2, h3, p {
	margin-bottom: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

h1 {
	color: white;
	line-height: 90px;
	font-size: 30px;
	text-decoration: none;
	font-weight: 700;
	
}

h2 {
	color: #4aaaa5;
	font-size: 25px;
	line-height: 30px;
	text-decoration: none;
	font-weight: 700;
	
}




p {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14pt;
}

.quote {
    font-style: italic;
    text-align: center;
    font-weight: 600;
    font-size: 16pt;
    line-height: 22px;
}

.float {
	float: left;
}

.clear {
	clear: both;
}


#nav-block {
	margin: 0 auto;
	height: 90px;
	position: -webkit-sticky;
 	position: sticky;
	top: 0;
    border-bottom: solid #cccccc 2px;
    background-color: white;
    z-index: 1;
    /*Opacity start*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;*/
    opacity: 0.8;
    /*Opacity end*/
}

#nav-wrapper {
	width: 100%;
	max-width: 960px;
    margin: 0 auto;
}

#name-box {
	float: left;
	background-color: #4aaaa5;
	width: 350px;
	height: 90px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: white;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
	padding: 5px;
	margin: 0px;
}

#nav-menu {
	float: right;
	vertical-align: text-center;
	text-align: center;
	width: 270px;
	padding-top: 30px;
	display: inline-block;
	line-height: 18px;
	background-color: white;
}

#nav-menu a:link {
    color: #4aaaa5;
}

#nav-menu a:visited {
    color: #4aaaa5;
}

#nav-menu a: active {
    color: red;
}

#nav-menu a:hover {
    color: blue;
}


#content {
	margin-left: 15px;
}



#page-wrap {
    margin: 0 auto;
    margin-top: 20px;
	width: 100%;
	max-width: 960px;

}

/*home page / about*/

#about {
	clear: both;
	float: left;
	border: 1px solid #cccccc;
	margin: 0 auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 650px;
	padding: 20px;
	background-color: white;
}

#profile-image {
	margin-right: 20px;
}

#connect {
	float: left;
	border: 1px solid #cccccc;
	margin: 0 auto;
	width: 100%;
	max-width: 270px;
	padding: 20px;
	background-color: white;
}

.social img{
	width: 50px;
	height: 50px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

footer {
	clear: both;
	background-color: #666666;
	color: #ffffff;
	border-top: solid #4aaaa5 10px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	font-size: 12px;
}

/*portfolio*/

#portfolio {
	clear: both;
	float: left;
	border: 1px solid #cccccc;
	margin: 0 auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 650px;
	padding: 20px;
	background-color: white;
}

.portfolio-image {
	height: 200px;
	width: 100%;
	position: relative;
	margin-top: 10px;
	float: left;
	margin-right: 10px;
}

.work {
    position: relative;
    width: 274px;
	overflow: auto;
	float: left;
	margin: 20px 10px 25px;
}

.work:nth-child(even){
	margin-right: 30px;
}

.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 20px;
	padding: 15px;
	width: 100%;
	line-height: 30px; 
	margin-bottom: 0;
	font-weight: 300;
	opacity: .8;

}

#box {
    position:relative;
    background:gray;
    width:200px;
    height:200px;
    margin:20px 45px;
}

#ribbon {
    position:absolute;
    text-align: center;
    top:120px;
    left:-20px;
    width:160px;
    height:20px;
    background:#4aaaa5;
    color:white;
    padding:10px 40px;
    font-size:24px;
    font-weight:bold;
    border-radius:5px 5px 0 0;
    box-shadow:0 0 2px #333;
    text-shadow:0 0 2px #000;
}
#ribbon:before {
    content:'';
    position:absolute;
    bottom:-20px;
    left:0;
    border-top:solid 10px #4aaaa5;
    border-right:solid 10px #4aaaa5;
    border-bottom:solid 10px transparent;
    border-left:solid 10px transparent;
}
#ribbon:after {
    content:'';
    position:absolute;
    bottom:-20px;
    right:0;
    border-top:solid 10px #4aaaa5;
    border-right:solid 10px transparent;
    border-bottom:solid 10px transparent;
    border-left:solid 10px #4aaaa5;
}

/*Contact Form*/

#contact {
	clear: both;
	float: left;
	border: 1px solid #cccccc;
	margin: 0 auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 650px;
	padding: 20px;
	background-color: white;
}

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14pt;
}

textarea {
	height: 200px;
}

input[type=submit] {
	border: 0 none;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	background-color: #4aaaa5;
    color: white;
    margin: 8px 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}